/* Set the page background and font family */
body {
    background-color: #f7f7f7;
    font-family: 'Bebas Neue', sans-serif;
}

/* Style the header */
h1 {
    color: black;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 60px;
    font-weight: 600;
    margin: 40px 0 20px;
    text-align: right;
    text-transform: uppercase;
}

/* Style the paragraph */
p {
    color: #242424;
    font-size: 25px;
    line-height: 1;
    margin: 0 auto 40px;
    max-width: 600px;
    text-align: right;
}

h2 {
	color: #242424;
    font-size: 25px;
    line-height: 1;
    margin: 0 auto 40px;
    max-width: 600px;
    text-align: left;
}

/* Style the image */
img {
    border-radius: 50%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    display: block;
    margin: 0 auto 30px;
    max-width: 300px;
    float: left;
}

/* Add a background pattern */
.pattern {
    background-color: #fff;
    background-image: url("background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 60px 0;
}

/* Style the container inside the pattern */
.container {
    margin: 0 auto;
    max-width: 600px;
    border: 1px solid #ccc;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    padding: 40px;
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
/* Style the paragraph */
p {
    font-size: 20px;
}

/* Style the image */
img {
    max-width: 200px;
}

/* Style links */
a {
    padding: 3px 8px;
}
}